#hoverInfo{
    position: absolute;
  width: 160px;
  text-align: center;
  
  transition: all .4s;
}

.square{
  width: 1.3em;
  height: 1.3em;
  background: #1c1c1c;
  border-radius: 50%;
}
#container{
  background: #fff;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid green;
  font-size: 80%;
}

.arrow-down{
  width: 0; 
  height: 0; 
  margin: 0 auto;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  
  border-top: 16px solid green;
}

#canvas{
  overflow:hidden
}